.layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 40px auto 200px;
  grid-template-areas:
    'sidebar toolbar'
    'sidebar main'
    'sidebar footer';
}

div.toolbar {
  grid-area: toolbar;
  background-color: cyan;
}

div.sidebar {
  grid-area: sidebar;
  background-color: magenta;
}
main {
  grid-area: main;
  background-color: yellow;
}
div.footer {
  grid-area: footer;
  background: gray;
}
